In [1]:
import os 
import json 
import pandas as pd

In [12]:
json_data = open('dataset.json')

In [13]:
json_data = json_data.read()

In [14]:
json_data = json.loads(json_data)

In [15]:
type(json_data)

list

In [16]:
json_data[100]

{'id': 101,
 'name': 'manne6-0100',
 'prompt': 'a photo of a handsome young man wearing an orange shirt, highly detailed, pinterest, protrait photography by Richard Avedon',
 'created_at': '2023-11-16T11:39:14.635Z',
 'updated_at': '2023-11-26T09:22:35.919Z'}

## Creating the dataframe

In [17]:
df = pd.DataFrame(json_data)

In [18]:
df.head()

,id,name,prompt,created_at,updated_at
0,1,manne6-0000,"a mountain seen from far away, a praire in fro...",2023-11-16T11:39:14.321Z,2023-11-17T13:34:11.686Z
1,2,manne6-0001,"a jungle seen from a rural area, sunset, cloud...",2023-11-16T11:39:14.325Z,2023-11-17T13:46:48.516Z
2,3,manne6-0002,"beautiful canadian village in autumn, daylight...",2023-11-16T11:39:14.328Z,2023-11-17T13:48:29.808Z
3,4,manne6-0003,a portrait of a young beautiful woman with lon...,2023-11-16T11:39:14.331Z,2023-11-17T13:51:18.417Z
4,5,manne6-0004,a portrait of a young woman in a beige sweater...,2023-11-16T11:39:14.334Z,2023-11-17T13:53:27.029Z

# Working on images